body {
  background-image: url('about-me/img/baltic-saltlake');
  color:white;
  margin:auto;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-block: 2vw;

}

h1 {
  font-size: 3vw;
  padding-bottom: 1vw;
}

h2 {
  font-size: 2vw;
  padding-bottom: 1vw;
}

ol {
  list-style: decimal;
  margin-left: 4vw; 
}

ul {
  list-style: disc;
  margin-left: 4vw;
}
